@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
body {
  font-family: "Lato", sans-serif; }

h1 {
  font-size: 60px; }

h2 {
  font-size: 25px; }

p {
  font-size: 18px; }

.nav-item {
  padding: 15px; }

.nav-link {
  color: #0C1D3B; }

.home_bg--img {
  background-image: url("../img/Rectangle 10 copy.png");
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

span {
  text-transform: uppercase;
  font-size: 15px;
  color: #0C1D3B; }

.carousel-indicators {
  position: relative; }

.carousel-indicators li {
  background-color: #0C1D3B;
  border-radius: 100%;
  width: 5px;
  height: 5px; }

.carousel-control-next, .carousel-control-prev {
  position: relative;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: end;
  -ms-flex-pack: center;
  color: black;
  text-align: center;
  opacity: .5;
  transition: opacity .15s ease;
  justify-content: end;
  float: left;
  width: 2%; }

.carousel-control-prev-icon {
  background-image: url("../img/icon-prev.svg"); }

.carousel-control-next-icon {
  background-image: url("../img/icon-next.svg"); }

button {
  background-color: #0C1D3B;
  padding: 10px 40px;
  border: 0;
  color: #fff;
  transition: 0.3s;
  font-size: 12px; }
  button a {
    text-transform: uppercase; }
  button:hover {
    color: #0C1D3B;
    background-color: #fff; }

.button-product {
  position: absolute; }

h1.home-title {
  font-weight: 300; }

p.home-description {
  font-weight: 400;
  font-size: 15px;
  width: 60%;
  margin: 5% 0px 10%; }

.home-div_about {
  width: 45%; }

#product-1 {
  background-image: url("../img/casatorreacontece_47582529_334505750611108_4626078616336959045_n.png");
  width: 100%;
  height: 815px;
  background-size: cover;
  background-position: center top; }

#product-2 {
  background-image: url("../img/casatorreacontece_47582529_334505750611108_4626078616336959045_n.png");
  width: 100%;
  height: 815px;
  background-size: cover;
  background-position: center top; }

#product-3 {
  background-image: url("../img/casatorreacontece_47582529_334505750611108_4626078616336959045_n.png");
  width: 100%;
  height: 815px;
  background-size: cover;
  background-position: center top; }

#product-4 {
  background-image: url("../img/casatorreacontece_47582529_334505750611108_4626078616336959045_n.png");
  width: 100%;
  height: 815px;
  background-size: cover;
  background-position: center top; }

.bg-newsletter {
  background-color: #EEEEEE; }

.bg-instagram {
  background-color: #E2E0E0; }

.newsletter-instagram {
  writing-mode: vertical-lr;
  color: #AFA9A9;
  text-transform: uppercase;
  font-size: 124px; }

.img-instagram {
  background-image: url("../img/Group 9.png");
  width: 100%; }

input.newsletter-input {
  border: 0;
  border-radius: 40px;
  width: 570px;
  height: 67px;
  padding-left: 30px;
  color: #0c1d3b;
  display: block;
  margin: 15px 0px;
  box-shadow: 0; }

::placeholder {
  color: #0C1D3B; }

.input-submit {
  margin: 10% 6%; }

.newsletter-label {
  color: #0C1D3B;
  font-size: 18px; }

button.newsletter-submit {
  font-size: 16px;
  border-radius: 50px;
  width: 171px;
  height: 67px;
  margin-left: 10px; }

.footer-description {
  font-size: 11px;
  width: 60%; }
  .footer-description span {
    font-size: 11px; }

.footer-logo {
  margin: 5%; }
