@import './styles.scss';

.about-paragraph {
    font-weight: 300;
    font-size: 16px;
    margin: 5vh 0px 2vh 0px;
    width: 380px;
}

.about-subtitle {
    font-weight: 300;
    font-size: 24px;
}