@import './styles.scss';



#form-input {
    display: block;
    width: 100%;
    height: 10vh;
    border-radius: 50px;
    border: 1px solid;
    margin: 5% 0px;
    text-transform: uppercase;
    padding-left: 50px;
}

button {
    width: 300px;
    height: 80px;
    border-radius: 50px;
}

button.newsletter-submit {
    font-size: 16px;
    border-radius: 50px;
    width: 171px;
    height: 67px;
    margin-left: 10px;
    margin-top: 23px;
}

.contact-paragraph {
    font-size: 16px;
    font-weight: 300;
    margin: 5vh 0px;
}