@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');


//VARIÁVEIS

$font-family: 'Lato',
sans-serif;
$light: 300;
$extra-bold: 800;
$title: 50px;
$h1: 30px;
$h2: 25px;
$p: 18px;
$primary-color: #0C1D3B;


//DECLARAÇÕES GLOBAIS
body {
    font-family: $font-family;
}

h1 {
    font-size: $title;
}

h2 {
    font-size: $h2;
}

p {
    font-size: $p;
}

//PRELOADER


.preloade {
    position: fixed;
    width: 100%;
    height: 100vh;
    background:radial-gradient(ellipse at center, rgba(255,254,234,1) 0%, rgba(255,254,234,1) 35%, rgb(211, 223, 255) 100%);
    z-index: 9999
}

.menu-mobile{
    display: none;
}


.preloader {
    width: 150px;
}

.st0 {
    margin-top: 75%;
    animation: 3s fill-svg1 infinite;
    height: 80px;
    width: 200px;
    margin-left: 20%;
}

.st1 {
    animation: 3s fill-svg infinite;
}

@keyframes fill-svg {
    0% {
        stroke-dasharray: 500;
        stroke-dashoffset: 700;
    }

    50% {
        stroke-dashoffset: 800;
        stroke-dashoffset: 900;
    }

    85% {
        stroke-dasharray: 1000;
        stroke-dashoffset: 1200;

    }

    100% {
        fill: $primary-color;
    }
}

@keyframes fill-svg1 {
    0% {
        stroke-dasharray: 500;
        stroke-dashoffset: 700;
    }

    50% {
        stroke-dashoffset: 800;
        stroke-dashoffset: 900;
    }

    85% {
        stroke-dasharray: 1000;
        stroke-dashoffset: 1200;

    }

    100% {
        fill: white;
    }
}

//WAVE PRELOADER

.ocean {
    height: 5%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: $primary-color;
}

.wave {
    background: url('../img/wave.svg') repeat-x;
    position: absolute;
    top: -198px;
    width: 6400px;
    height: 198px;
    animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
    top: -175px;
    animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
    opacity: 1;
}

@keyframes wave {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: -1600px;
    }
}

@keyframes swell {

    0%,
    100% {
        transform: translate3d(0, -25px, 0);
    }

    50% {
        transform: translate3d(0, 5px, 0);
    }
}



//nav
.nav-item {
    padding: 15px;

    &:hover {
        background-color: $primary-color;
        transition-duration: 1s;

        cursor: pointer;

        a {
            color: #fff;
        }
    }
}

.navbar {
    padding: .5rem 5rem;
}

header {
    position: fixed;
    width: 100%;
    z-index: 2000;
}

.nav-link {
    color: $primary-color;
}


//HOME BACKGROUND
.home_bg--img {
    background-image: url('../img/Rectangle\ 10\ copy.png');
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


span {
    text-transform: uppercase;
    font-size: 15px;
    color: $primary-color;
}

//CARROUSEL 
.carousel-indicators {
    position: relative;
}

.carousel-indicators li {
    background-color: $primary-color;
    border-radius: 100%;
    width: 5px;
    height: 5px;
}

.carousel-control-next,
.carousel-control-prev {
    position: relative;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: end;
    -ms-flex-pack: center;
    color: black;
    text-align: center;
    opacity: .5;
    transition: opacity .15s ease;
    justify-content: end;
    float: left;
    width: 2%;
}

.carousel-control-prev-icon {
    background-image: url('../img/icon-prev.svg');
}

.carousel-control-next-icon {
    background-image: url('../img/icon-next.svg');
}


//BUTTON

button {
    background-color: $primary-color;
    padding: 10px 40px;
    border: 0;
    color: #fff;
    transition: 0.3s;
    font-size: 12px;

    a {
        text-transform: uppercase;
    }

    &:hover {
        color: $primary-color;
        background-color: #fff;
    }

}

.button-product {
    position: absolute;
    padding: 0vw 2vw 1vw 0vh;
}

//TITLE HOME

h1.home-title {
    font-weight: $light;
}

p.home-description {
    font-weight: 400;
    font-size: 15px;
    width: 80%;
    margin: 5% 0px 10%;
}

.home_about {
    width: 65%;
}



//NEWSLETTER
.white {
    background-color: #fff;
    display: block;
    left: 0px;
    width: 100%;
    height: 30%;
    position: absolute;
}

.bg-newsletter {
    background-color: #EEEEEE;
    overflow: hidden;
    position: relative;
}

.bg-instagram {
    background-color: #E2E0E0;
}

.instagram {
    padding-bottom: 10%;
}


.newsletter-instagram {
    writing-mode: vertical-lr;
    color: #D7D5D5;
    text-transform: uppercase;
    font-size: 135px;
    letter-spacing: 8px;
    position: absolute;
    top: 6vh;
}

.insta-icon {
    position: absolute;
    font-size: 32px;
    padding: 0vw 1vw 1vh 0vh;
}

.img-instagram {
    background-image: url('../img/Group\ 9.png');
    width: 100%;
    margin-right: 1vw;

}

input.newsletter-input {
    border: 0;
    border-radius: 40px;
    width: 570px;
    height: 67px;
    padding-left: 30px;
    color: #0c1d3b;
    display: block;
    margin: 15px 0px;
    box-shadow: 0;

}

::placeholder {
    color: $primary-color;
}

.input-submit {
    margin: 10% 0px;
}

.newsletter-label {
    color: $primary-color;
    font-size: $p;
}

button.newsletter-submit {
    font-size: 16px;
    border-radius: 50px;
    width: 171px;
    height: 67px;
    margin-left: 10px;
}

.footer-description {
    font-size: 11px;
    width: 60%;

    span {
        font-size: 11px;
    }
}

.footer-logo {
    margin: 5%;
}

.sidenav{
    display: flex;
    justify-content: center;
    width: 90%;
}