@media (min-width: 768px) and (max-width: 991.98px) { 

    .menu-mobile{
        display: block;
    }

    .home_bg--img {
        height: 50vh;
    }

    h1 {
        font-size: 38px;
    }

    .home_about {
        width: 80%;
    }

    p.home-description {
        font-weight: 400;
        font-size: 14px;
        width: 100%;
        margin: 5% 0px 10%;
    }

    .carousel-control-next-icon, .carousel-control-prev-icon {
        display: inline-block;
        width: 20px;
        height: 16px;
        background: no-repeat 50%/100% 100%;
            background-image: none;
    }

    #form-input{
        height: 6vh;
    }

    .about-paragraph {
        font-weight: 300;
        font-size: 14px;
        
        width: 95%;
    }

    //NAV

    .logo-mobile{
        display: flex;
        justify-content: center;
    }

    nav {
        position: relative
    }

    .nav{
        display: block;
    }

    .navbar-brand{
        margin: 0;
    }

    .navbar-text{
        display: none;
    }

    .navbar,
    nav {
        width: 100%;
        height: 56px
    }

    .navbar {
        background-color: #fff;
        padding: 0;
        display: flex;
        justify-content: center;
    }

    .nav-item {
        display: block;
        text-align: center;
        line-height: 40px;
        text-decoration: none;
        padding: 0 15px
    }

    #nav {
        width: 100%;
        display: none;
        transition: height 0.2s;
        box-shadow: 0 4px 6px -2px rgba(0, 0, 0, .12);
        background: #fff
    }

    #nav-icon3 {
        position: sticky;
        width: 30px;
        height: 20px;
        transform: rotate(0deg);
        transition: .5s ease-in-out;
        cursor: pointer;
        position: absolute;
        left: 12px;
        top: 21px
    }

    #nav-icon3 span {
        display: block;
        position: absolute;
        height: 2px;
        width: 24px;
        background: #343a40;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out
    }

    #nav-icon3 span:first-child {
        top: 0
    }

    #nav-icon3 span:nth-child(2),
    #nav-icon3 span:nth-child(3) {
        top: 8px
    }

    #nav-icon3 span:nth-child(4) {
        top: 16px
    }

    #nav-icon3.open span:first-child {
        top: 18px;
        width: 0;
        left: 50%
    }

    #nav-icon3.open span:nth-child(2) {
        transform: rotate(45deg)
    }

    #nav-icon3.open span:nth-child(3) {
        transform: rotate(-45deg)
    }

    #nav-icon3.open span:nth-child(4) {
        top: 18px;
        width: 0;
        left: 50%
    }


    //NEWSLETTER

    .footer-description {
        font-size: 8px;
    }

    .newsletter-instagram {
        font-size: 82px;
        padding: 0px;
        margin: 0;
    }

    input.newsletter-input {
        width: 486px;
        height: 67px;

    }

    .footer-description span {
        font-size: 8px;
    }
     
}